[Unit]
Description=Back up files to a Borg repo

[Service]
Type=oneshot
ExecStart=/root/.config/borg/borg-backup-script
ExecStart=/bin/rclone copy /root/borg my_drive:borg -v
OnFailure=notify-service@%i.service
