[Unit]
Description=Mailbox Sync service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Va
ExecStartPost=/home/ethan/mail/.notmuch/tagmail
OnFailure=notify-service@%i.service

[Install]
WantedBy=default.target
