[Unit]
Description=Send a notification on failure of a Service.

[Service]
Type=oneshot
# ExecStart=/usr/bin/bash -c 'echo "Subject: Service Failed\n\nService %i failed on $(hostname)\n$(systemctl status %i)" | /bin/msmtp cywinskimoss@gmail.com'
ExecStart=/usr/bin/bash -c '/usr/bin/curl \
  -H "Title: Service %i Failed" \
  -H "Priority: urgent" \
  -H "Tags: warning,skull" \
  -d "Service failed on host: $(hostname)\n\nLogs:\n$(systemctl status %i)" \
  192.168.0.190/backup'
