#decorations = "full"
live_config_reload = true

[colors]
draw_bold_text_with_bright_colors = false

[colors.primary]
background = "0x{{ .base00 }}"
foreground = "0x{{ .base05 }}"

[colors.cursor]
cursor = "0x{{ .base05 }}"
text = "0x{{ .base00 }}"

[colors.bright]
black = "0x{{ .base00 }}"
red = "0x{{ .base08 }}"
green = "0x{{ .base0B }}"
yellow = "0x{{ .base0A }}"
blue = "0x{{ .base0D }}"
magenta = "0x{{ .base0E }}"
cyan = "0x{{ .base0C }}"
white = "0x{{ .base05 }}"

[colors.normal]
black = "0x{{ .base00 }}"
red = "0x{{ .base08 }}"
green = "0x{{ .base0B }}"
yellow = "0x{{ .base0A }}"
blue = "0x{{ .base0D }}"
magenta = "0x{{ .base0E }}"
cyan = "0x{{ .base0C }}"
white = "0x{{ .base05 }}"

[cursor]
style = "block"
unfocused_hollow = true

[font]
size = {{ .fontsize }}

[font.normal]
family = "{{ .font }}"

[window.padding]
x = 0
y = 0
